{% if shop.customer_accounts_enabled %}
  <script
    src="{{ 'dialog.js' | asset_url }}"
    type="module"
  ></script>

  <dialog-component
    class="account-drawer desktop:hidden"
  >
    {% render 'account-button', attributes: 'on:click="/showDialog"' %}
    <dialog
      ref="dialog"
      class="color-{{ settings.popover_color_scheme }} dialog-modal dialog-drawer dialog-bottom-sheet account-drawer__dialog"
      scroll-lock
      aria-labelledby="account-drawer-heading"
    >
      <button
        ref="closeButton"
        on:click="/closeDialog"
        class="button button-unstyled close-button account-drawer__close-button"
        aria-label="{{ 'actions.close_dialog' | t }}"
        autofocus
      >
        <span
          class="svg-wrapper"
          aria-hidden="true"
        >
          {{- 'icon-close.svg' | inline_asset_content -}}
        </span>
      </button>
      {% render 'account-actions' %}
    </dialog>
  </dialog-component>
{% endif %}
